#box1 {
    width: 370px;
    padding: 20px;
    border: black;
    border-style: solid;
    border-width: 20px 10px;
    font-style: normal;
    background-color: yellow;
    margin: 0;
}
#box2 {
    width: 370px;
    padding: 20px;
    border: black;
    border-style: solid;
    border-width: 20px 10px;
    font-style: normal;
    background-color: teal;
    position: relative;
    left: 425px;
    bottom: 25px;
}
#box3 {
    width: 370px;
    padding: 20px;
    border: black;
    border-style: solid;
    border-width: 20px 10px;
    font-style: normal;
    background-color: orangered;
    position: relative;
    bottom: 50px;
}