html {
  height: 100%;
  width: 100%;
  background-color: #F9E0BB;
  ;
}

#title {
  font-size: 10rem;
  margin: 50px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #884A39;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 10px;

}

#dicePart {
  margin: auto;
  width: 40%;
}

#WinText {
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #884A39;
  text-align: center;
}